<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" href="~/css/style.css">

</head>

<body>
    <div class="body">
        <img width=510 height=200 src="https://cdn.discordapp.com/attachments/814265972059930647/829811925202108436/2018-cb-ca-white.png" />

        <button class="textButton">
            About Us
        </button>
        <button class="textButton">
            Settings
        </button>
        <button class="textButton">
            Contact Us
        </button>
        <br>
        <br>
    </div>

    <div class="whitebackground2">
        <br>
        <br>
        <br>
        <br>
        <div class="main">
            <br>
            <br>
            <article class="whitebackground1">
                <u style="font-size:40px">Transactions</u>
                <br>
                <p style="font-size:25px">
                    View and edit all the transactions for your accounts here in a sorted list, or add new entries.
                </p>
                <br>
                <br>
                <a asp-action="Transactions" asp-controller="Home" class="btn btn-primary">
                    Open
                </a>
                
                <br>
            </article>

            <img width=400 height=375 style="border:2px solid black" src="https://rba.gov.au/publications/bulletin/2016/dec/images/graph-1216-5-01.gif" />

            <article class="whitebackground1">
                <u style="font-size:40px">Notifications</u>
                <br>
                <p style="font-size:25px">
                    View and manage all your notifications, or manage your notification settings here.
                </p>
                <br>
                <br>
                <button type"button">
                    Open
                </button>
                <br>
            </article>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
    <br>
    <br>
</body>
</html>
