<!DOCTYPE html>
<html>
<head>
    <title>Change Password</title>
</head>
<body>

    <h1>Change Password</h1>

   
        <form asp-action="ForgotPassword" asp-controller="home" method="post">

            <label for="newPassword">New Password:</label>
            <input type="password" id="newPassword" name="newPassword" title="New password" />

            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" title="Confirm new password" />

            <label for="token">Username:</label>
            <input type="text"  name="username" title="Username" />

            <p class="form-actions">
                <input type="submit" value="Change Password" title="Change password" />
            </p>

        </form>

</body>
</html>
